html{

    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.progress-container {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 5px; 
    background: transparent; 
    overflow: hidden;
}

.progressbar {
    height: 100%; 
    background: #171717; 
    width: 0; 
    transition: width 0.1s ease-in-out; 
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #171717; 
    border-radius: 10px; 
}

.course__name{
    padding-top: 70px;
    font-weight: 400;
    font-size: 20px;
    color: #2d2b2b;
}

.title{
    font-weight: 500;
    font-size: 50px;
    color: #171717;
    padding-bottom: 5px;
}    

.text{
    font-weight: 400;
    font-size: 26px;
    color: #000;
    padding-top: 30px;
    width: 100%;
    max-width: 1180px;
}

.title1{
    font-weight: 500;
    font-size: 50px;
    color: #171717;
    padding-top: 100px;
}

.uxuiimg{
    padding-left: 220px;
    padding-top: 30px;
}