@font-face {
    font-family: 'Pastah (trial)';
    src: url(/fonts/Pastah\ \(trial\)\ Bold.otf);
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
 }


html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #171717;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 100%;
    overflow: hidden;
}
 
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px; 
}


.header__container{
    max-width: 570px;
    margin: 0 auto;
    padding: 50px 10px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
}

.header__inner{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #141414;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid rgba(87, 87, 87, 0.4)
}

.logo-img{
    width: 29px;
    height: 29px;
    margin-right: 25px;
}

.menu__list{
    display: flex;
}

.menu__list-link{
    color: white;
    margin-top: 3px;
    border-radius: 13px;
    height: 44px;
    background: #252525;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    display: inline-block; 
    overflow: hidden;
    white-space: nowrap; 
}

.menu__list-link-about{
    padding: 12px 32px;
    margin-right: 11px;
}

.menu__list-link-courses{
    padding: 12px 32px;
    margin-right: 11px;
}

.menu__list-link-game{
    padding: 12px 32px;
    margin-right: 25px;
}

.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative; /* Устанавливаем относительное позиционирование */
    height: 100%; /* Высота 100% от родителя */
}

.main{
    position: relative;
    z-index: 1;
}


.home {
    position: relative; /* Родительский контейнер для абсолютного позиционирования изображений */
    padding: 40px; /* Отступы внутри секции (по желанию) */
    text-align: center; /* Центрируем текст */
}

.home__title{
    font-family: 'Pastah (trial)';
}

.logo__home{
    width: 73px;
    height: 73px;
    margin-top: 120px;
}

.home__title{
    padding-top: 60px;
    font-weight: 700;
    font-size: 115px;
    text-align: center;
    color: #fff;
}

.home__subtitle{
    padding-top: 50px;
    font-weight: 300;
    font-size: 36px;
    color: #fff;
    padding-bottom: 50px;
}

.home__link{
    position: relative; 
    border-radius: 35px;
    padding: 15px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 224%;
    color: #000;
    background-color: #fff;
    overflow: hidden; /* Чтобы капли не выходили за пределы кнопки */
    transition: color 0.4s;
    z-index: 10;
}

.container {
            max-width: 1380px; 
            margin: 0 auto; /* Центрируем контейнер */
            padding: 0 10px; 
            position: relative; /* Устанавливаем относительное позиционирование */
            height: 100%; /* Высота 100% от родителя */
        }

        .stripe-container {
            position: absolute; /* Позиционирование по уровню */
            top: 0; /* Начало от верхней границы */
            left: 0; /* Начало от левой границы */
            right: 0; /* Расширяем до правой границы */
            bottom: 0; /* Расширяем до нижней границы */
            display: flex; /* Используем flex для горизонтального расположения */
            justify-content: space-between; /* Равномерное распределение полос */
            pointer-events: none; /* Полоски не будут мешать взаимодействию с контентом */
        }

        .stripe {
            width: 1px; /* Ширина полоски */
            background-color: rgba(87, 87, 87, 0.15); /* Цвет полоски */
            margin: 0 10px; /* Отступы между полосами */
        }

        main {
            padding: 20px; /* Отступы для основного контента */
            z-index: 2; /* Убедитесь, что это над полосками */
            position: relative; /* Для визуализации в порядке */
        }

        .right__text, .date__left{
            display: flex;
        }

        .text__right-t{
            padding-top: 20px;
        }

        
        .frame {
            position: absolute; /* Позволяет занять место по краям экрана */
            left: 0; /* Прижимаем к левому краю экрана */
            right: 0; /* Прижимаем к правому краю экрана */
            z-index: 1; /* Устанавливаем уровень слоя, на который будут наложены другие элементы */
            display: flex; 
            flex-direction: column; /* Устанавливаем вертикальное размещение для верхней и нижней секций */
            position: fixed;
        }
        
        .top-section, .bottom-section {
            display: flex;
            justify-content: space-between; /* Элементы располагаем по краям */
            width: 100%; /* Полная ширина рамки */
            padding: 0 20px;
        }

        .bottom-section {
            margin-top: 920px;
        }
        
        .square__l-t,
        .square__r-t,
        .square__l-b,
        .square__r-b {
            width: 30px;
            height: 30px;
        }
        
        .square__l-t {
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            border-radius: 3px 0 0 0;
        }
        
        .square__r-t {
            border-right: 1px solid #fff;
            border-top: 1px solid #fff;
            border-radius: 0 3px 0 0;
        }
        
        .square__l-b {
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-radius: 0 0 0 3px;
        }
        
        .square__r-b {
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            border-radius: 0 0 3px 0;
        }
        
        .text__right-t,
        .text__left-b {
            font-weight: 400;
            font-size: 10px;
            color: #fff;}

        
        


.plus-container {
    position: absolute; /* Позволяет изображениями быть размещенными относительно родительского контейнера */
    top: 0; /* Расположение сверху */
    left: 0; /* Расположение слева */
    right: 0; /* Расположение справа */
    bottom: 0; /* Расположение снизу */
    z-index: 1;
}

.plus__l-t, .plus__l-b, .plus__r-t, .plus__r-b {
    max-width: 60px; /* Максимальная ширина изображений */
    height: auto; /* Поддержка пропорций изображений */
    position: absolute; /* Абсолютное позиционирование для каждого изображения */
}

.plus__l-t {
    top: 90px;
    left: 1px;
}

.plus__l-b {
    bottom: 1px;
    left: 1px;
}

.plus__r-t {
    top: 90px;
    right: 1px;
}

.plus__r-b {
    bottom: 1px; 
    right: 1px;
}



.about{
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
   
}

.about__link {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 224%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 10px 19px;
    width: 83px;
    height: 36px;
    
}

.about__inner {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.about__img {
    margin-top: -85px;
    width: 50px; 
    height: auto; 
}

.about__text {
    font-weight: 200;
    font-size: 36px;
    color: #fff;
    text-align: left;
    max-width: 1060px; 
    margin-left: 250px; 
    padding-top: 50px; }


    
    .moving__text {
        font-family: 'Pastah (trial)';;
        font-weight: 700;
        font-size: 175px;
        overflow: hidden;
        color: #fff;
    }
    
    .moving__text-in {
        display: flex;
        width: fit-content;
        animation: moving__text 5s linear infinite;
    }
    
    .mooving__text-item {
        margin: 0 80px; 
        white-space: nowrap;
        color: #fff;
    }
    
    .no-margin {
        margin-left: -80px;
    }
    
    img {
        margin: 0;
        height: auto;
        width: auto;
    }
    
    .mooving__text-item-border {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 8px #fff;
    }
    
    @keyframes moving__text {
        0% { transform: translateX(0); }
        100% { transform: translateX(-40%); }
    }
    
    .moving__text-container {
        display: flex; /* Используем flex для вертикального выравнивания */
        flex-direction: column; /* Располагаем элементы по вертикали */
        justify-content: center; /* Центрируем содержимое по вертикали */
        align-items: center; /* Центрируем содержимое по горизонтали */
        position: relative; /* Позволяет уточнять позиционирование для потомков */
    }

    
    .moving__text-2 {
        font-family: 'Pastah (trial)';;
        font-weight: 700;
        font-size: 175px;
        overflow: hidden;
        color: #fff;
    }
    
    .moving__text-in-2 {
        display: flex;
        width: fit-content;
        animation: moving__text-2 5s linear infinite;
    }

    .mooving__text-item-2 {
        margin: 0 80px; 
        white-space: nowrap;
        color: #fff;
    }

    .mooving__text-item-border-2{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 8px #fff;
    }

    .no-margin {
        margin-left: -80px;
    }

    @keyframes moving__text-2 {
        0% { transform: translateX(-40%); }
        100% { transform: translateX(0); }
    }

.courses{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
}
.courses__cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
   
}

.courses__link{
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 10px 19px;
    width: 88px;
    height: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 224%;
    color: #fff;
}

.card__1{
    margin-top: 50px;
    border: 1px solid rgba(87, 87, 87, 0.15);
    border-radius: 50px;
    width: 100%;
    max-width: 656px;
    height: 631px;
    background: #1e1e1e;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding-left: 45px;
    padding-top: 45px;
    z-index: 10;
}

.card__title-1{
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    padding-bottom: 30px;
}

.card__p-1{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
    width: 100%;
    max-width: 540px;
}

.card__link{
    position: relative;
    border-radius: 35px;
    height: 68px;
    background: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 224%;
    color: #000;
    padding: 14px 220px;
    display: inline-block; /* Чтобы кнопка была блочным элементом, как div */
    overflow: hidden;
}

.subtitle__1{
    padding-top: 50px;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    padding-bottom: 30px;
}

.card__list-1{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
}

.card__2{
    margin-top: 50px;
    border: 1px solid rgba(87, 87, 87, 0.15);
    border-radius: 50px;
    width: 100%;
    max-width: 656px;
    height: 848px;
    height: auto; /* Изменено, чтобы блок мог расширяться */
    background: #1e1e1e;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding-left: 45px;
    padding-top: 45px;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
}

.card__title-2{
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    padding-bottom: 30px;
}

.card__p-2{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
    width: 100%;
    max-width: 540px;
}

.point{
    padding-top: 5px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.additional__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.additional__content.show {
    max-height: 1312px;
}

.design__game{
    padding-top: 250px;
    position: relative;
}

.game-container {
    position: absolute; /* Позволяет изображениями быть размещенными относительно родительского контейнера */
    top: 0; /* Расположение сверху */
    left: 0; /* Расположение слева */
    right: 0; /* Расположение справа */
    bottom: 0; /* Расположение снизу */
    z-index: 1;
}

.game__img-1, .game__img-2, .game__img-3, .game__img-4 {
    max-width: 60px; /* Максимальная ширина изображений */
    height: auto; /* Поддержка пропорций изображений */
    position: absolute; /* Абсолютное позиционирование для каждого изображения */
}

.game__img-1 {
    top: 200px;
    left: 1px;
}

.game__img-2 {
    top: 1000px;
    left: 1px;
}

.game__img-3 {
    top: 200px;
    right: 1px;
}

.game__img-4 {
    top: 1000px;
    right: 1px;
}

.game__inner{
    padding-top: 50px;
    text-align: center;
}

.game__link{
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 10px 19px;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.game_title{
    padding-top: 152px;
    font-weight: 400;
    font-size: 135px;
    color: #fff
}

.game__subtitle{
    padding-top: 25px;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    max-width: 709px;
    margin: 20px auto;
    padding-bottom: 60px;
    text-align: center;
}

.game__button{
    position: relative;
    border-radius: 50px;
    padding: 30px 114px;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    background: #fff;
    display: inline-block; /* Чтобы кнопка была блочным элементом, как div */
    overflow: hidden;
    z-index: 10;
}

.footer{
    padding-bottom: 200px;
}

.footer__inner{
    padding-top: 300px;
    display: flex;
    position: relative;
}

.footer__logo{
    width: 93px;
    height: 93px;
}

.footer__list-1{
    font-weight: 400;
    font-size: 15px;
    line-height: 224%;
    color: #fff;
    position: absolute;
    left: 547px;
    z-index: 10;
}

.footer__list-2{
    font-weight: 400;
    font-size: 15px;
    line-height: 224%;
    color: #fff;
    position: absolute;
    left: 800px;
}


input {
    width: 480px;
    height: 63px;
    padding: 35px 20px 10px 20px; /* Верхний, правый, нижний, левый отступ */
    border: 1px solid rgba(87, 87, 87, 0.15);
    border-radius: 15px;
    background: rgba(87, 87, 87, 0.15);
    font-size: 20px;
    color: #fff;
    box-sizing: border-box; /* Учитываем padding в ширине */
}

/* Стиль для label */
label {
    position: absolute;
    left: 20px; /* Отступ от левого края */
    top: 32px; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Центрируем по вертикали */
    transition: 0.2s ease all; /* Плавный переход */
    pointer-events: none; /* Блокировка событий */
    font-size: 18px;
    color: #adacac;  /* Изначальный размер шрифта */
}


/* Активировка плейсхолдера при наведении и вводе */
input:focus + label,
input:not(:placeholder-shown) + label {
    top: 17px; /* Поднимаем текст вверх */
    font-size: 13px; /* Уменьшаем шрифт */
    opacity: 1; /* Делаем текст читаемым */
    color: #adacac; /* Цвет текста */
}

input::placeholder{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(87, 87, 87, 0.4);
}

/* Стиль для placeholder */
input::placeholder {
    color: transparent; /* Скрываем плейсхолдер по умолчанию */
 
}

/* Показ плейсхолдера при наведении */
input:focus::placeholder {
    color: rgba(87, 87, 87, 0.6); /* Показываем плейсхолдер при наведении */
}

.footer__arrow{
    position: relative;
    left: -25px;
    bottom: 4px;
}

.footer__text{
    font-weight: 400;
    font-size: 10px;
    line-height: 224%;
    color: rgba(87, 87, 87, 0.4);
    max-width: 900px;
    position: relative;
    left: 547px;
    top: -40px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-wrapper1 {
    display: flex;
    align-items: center;
  }



.drop {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: drop-animation 0.6s;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.drop.black {
    background-color: #171717; /* Цвет капли для кнопок (черный) */
}

.drop.white {
    background-color: #fff; /* Цвет капли для меню (белый) */
}

@keyframes drop-animation {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(4);
    }
}

/* Общие стили для адаптивности */
@media (max-width: 1360px) {
    .card__link {
        padding: 14px 220px;
    }
}

@media (max-width: 1320px) {
    .courses__cards {
        gap: 20px;
    }
    
    .card__1, .card__2 {
        width: 580px;
    }
}

@media (max-width: 1264px) {
    .home__title {
        font-size: 90px;
    }
}

@media (max-width: 1260px), (max-width: 1200px) {
    .courses__cards {
        flex-direction: column; /* Меняем направление на вертикальное */
        align-items: center;
    }
}

@media (max-width: 1150px) {
    .home__subtitle,
    .about__text {
        font-size: 32px;
    }

    .home__title {
        font-size: 80px;
    }
}

@media (max-width: 1000px) {
    .home__title {
        font-size: 75px; /* Объединённый размер */
    }

    .logo__home {
        width: 70px;
        height: 70px;
    }
    
    .about__text {
        font-size: 28px;
    }

    .game_title {
        font-size: 128px; /* Это может остаться, если это полной версии блока */
    }

    .footer__list-1 {
        left: 50.5%;
    }
}

@media (max-width: 870px) {
    .footer__list-1 {
        left: 34%;
    }

    .footer__list-2 {
        left: 73%;
    }

    .game_title {
        font-size: 110px;
    }

    .home__title {
        font-size: 70px;
    }
}

@media (max-width: 840px) {
    .home__title {
        font-size: 65px; /* Убраны некоторые строки для упрощения */
    }

    .home__subtitle {
        font-size: 30px;
    }

    .about__text {
        font-size: 22px;
    }

    .about__img {
        width: 40px;
    }

    .game_title {
        font-size: 110px;
    }
}

@media (max-width: 775px) {
    .home__title {
        font-size: 60px;
    }

    .home__subtitle {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .home__link {
        font-size: 16px;
    }

    .about__text {
        font-size: 20px;
    }

    .mooving__text-item, .moving__text-in-2 {
        font-size: 155px;
    }

    .game_title {
        font-size: 100px;
    }

    .game__subtitle {
        font-size: 27px;
    }

    .game__button {
        padding: 30px 100px;
    }   
}

@media (max-width: 726px) {
    .home__title {
        font-size: 55px;
    }

    .home__subtitle {
        font-size: 24px;
    }
}

@media (max-width: 677px) {
    .home__title {
        font-size: 50px;
    }

    .home__subtitle {
        font-size: 22px;
    }
}

@media (max-width: 650px) {
    .card__1, .card__2 {
        width: 540px;
    }

    .card__link {
        padding: 14px 195px;
    }

    .card__p-2 {
        max-width: 400px;
    }
}

@media (max-width: 630px) {
    .about__text {
        font-size: 18px;
        margin-left: 100px;
    }

    .about__img {
        width: 30px;
        margin-top: -60px;
    }

    .mooving__text-item, .moving__text-in-2 {
        font-size: 115px;
    }

    .card__1, .card__2 {
        width: 510px;
    }

    .card__link {

        padding: 14px 165px;
    }

    .game_title {
        font-size: 70px;
    }

    .game__subtitle {
        font-size: 20px;
    }

    .game__button {
        padding: 20px 60px;
    }

    .footer__logo {
        width: 70px;
        height: 70px;
    }

    .footer__list-1 {
        left: 35%;
    }

    .footer__list-2 {
        left: 68%;
    }

    .header__container {
        padding: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 628px) {
    .home__title {
        font-size: 45px;
    }

    .home__subtitle {
        font-size: 20px;
    }
}

@media (max-width: 580px) {
    .home__title {
        font-size: 40px;
    }

    .home__subtitle {
        font-size: 18px;
    }

    .card__1, .card__2 {
        width: 480px;
    }

    .card__link {
        padding: 14px 170px;
    }

    .card__title-1, .card__title-2 {
        font-size: 35px;
    }
}

/* Добавьте свои дополнительные правила здесь */

@media (max-width: 560px) {
    .about__text {
        font-size: 18px;
        margin-left: 100px;
    }

    .about__img {
        width: 30px;
        margin-top: -60px;
    }

    .mooving__text-item, .moving__text-in-2 {
        font-size: 115px;
    }

    .card__p-2 {
        max-width: 400px;
    }

    .game_title {
        font-size: 70px;
    }

    .game__subtitle {
        font-size: 20px;
    }

    .game__button {
        padding: 20px 60px;
    }

    .footer__logo {
        width: 70px;
        height: 70px;
    }

    .footer__list-1 {
        left: 35%;
    }

    .footer__list-2 {
        left: 68%;
    }

    .header__container {
        padding: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 549px) {
    .logo-img {
        width: 0;
        margin-right: 0;
    }

    .card__link {
        padding: 14px 160px;
    }

    .card__p-1 {
        max-width: 400px;
    }
}

@media (max-width: 530px) {
    .about__img {
        margin-top: -80px; /* Или можете убрать эту строку, если она не нужна */
    }

    .card__title-1, .card__title-2 {
        font-size: 30px;
    }

    .card__1, .card__2 {
        width: 420px; /* Возможно, у вас должно быть самое маленькое значение */
    }

    .card__link {
        padding: 14px 140px;
    }

    .card__p-1, .card__p-2 {
        max-width: 350px;
        font-size: 18px;
    }

    .game_title {
        font-size: 60px;
    }

    .game__subtitle {
        font-size: 18px;
    }

    .game__button {
        padding: 20px 50px;
    }

    .menu__list-link {
        padding: 12px 20px;
    }

    .logo__home {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 493px) {
    .card__1, .card__2 {
        width: 390px;
    }

    .card__link {
        padding: 14px 110px;
    }

    .card__p-1, .card__p-2 {
        max-width: 320px;
        font-size: 16px;
    }

    .card__title-1, .card__title-2 {
        font-size: 28px;
    }
}

@media (max-width: 490px) {
    .home__title {
        font-size: 35px;
    }

    .home__subtitle {
        font-size: 16px;
    }

    .footer__list-1, .footer__list-2 {
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    .card__1, .card__2 {
        width: 360px;
    }

    .card__title-1, .card__title-2 {
        font-size: 26px;
    }

    .card__p-1, .card__p-2 {
        max-width: 290px;
    }

    .card__link {
        padding: 10px 95px;
    }
}

@media (max-width: 423px) {
    .header__inner {
        padding: 7px 10px;
    }

    .home__title {
        font-size: 30px;
    }

    .home__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 414px) {
    .arrow_img {
        display: none; /* Скрываем стрелку */
    }

    .card__1, .card__2 {
        width: 340px; /* Устанавливаем ширину карт */
        font-size: 16px; /* Общий шрифт */
        font-weight: 400; /* Общий вес шрифта */
    }

    .home__link {
        padding: 15px 20px;
        font-size: 14px;
    }

    .footer__logo {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 390px) {
    .card__1, .card__2 {
        width: 300px; /* Ширина для меньших экранов */
    }

    .card__link {
        padding: 14px 75px; /* Отступы для ссылки */
    }

    .card__title-1, .card__title-2 {
        font-size: 24px; /* Размер шрифта для заголовков карт */
    }

    .card__p-1, .card__p-2 {
        max-width: 220px; /* Максимальная ширина для описания */
        font-size: 14px; /* Размер шрифта для описания */
    }

    .game_title {
        font-size: 52px; /* Размер заголовка игры */
    }

    .footer__list-1, .footer__list-2 {
        font-size: 13px; /* Размер шрифта футера */
    }

    .home__subtitle {
        font-size: 12px; /* Размер шрифта подзаголовка */
    }
}

@media (max-width: 380px) {
    .menu__list-link {
        padding: 12px 18px; /* Отступы для элементов меню */
    }

    .home__link {
        line-height: 100%; /* Высота строки */
    }
    
    .card__1 {
        height: 720px; /* Высота карточки */
    }

    .home__subtitle {
        padding: 30px 0; /* Вертикальные отступы */
    }

    .footer__list-2 {
        left: 75%; /* Положение второго списка футера */
    }
}

@media (max-width: 372px) {
    .menu__list-link {
        font-size: 13px; /* Размер шрифта для меню */
    }

    .footer__list-2 {
        display: none; /* Скрытие второго списка футера */
    }

    .footer__list-1 {
        left: 52%; /* Положение первого списка футера */
    }
}

@media (max-width: 366px) {
    .home__title {
        font-size: 26px; /* Размер заголовка */
    }

    .home__subtitle {
        font-size: 10px; /* Размер подзаголовка */
    }
}

@media (max-width: 344px) {
    .card__1, .card__2 {
        width: 270px; /* Ширина для меньших экранов */
    }

    .card__link {
        padding: 14px 60px;  
    }
 
}
